<div style="background-color:skyblue">
<h1 align="center">QUOTES</h1>
<hr>
</div>
<div style="background-color:lightgrey" class="container">
  <div class="row">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>
</div>
<br>
<br>
<br>
<div style="background-color:skyblue" class="details">
<ul>
  <div *ngFor='let quote of quotes; let i=index'>
    <li>{{quote.quote}},{{quote.description}}.</li>
    
    
    <app-quote-details  [quote]='quote' (isComplete) = 'deleteQuote($event,i)' ></app-quote-details>
  </div>
</ul>
</div>
