
<div style="background-color:lightgrey" class="container-fluid">
    <div class="row">
        <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
            <div class="form-group">

                <label for="Author"><b>Author</b></label><br>
                <input type="text" required class="form-control" id="author"  [(ngModel)]="newQuote.author" name="author" #author="ngModel" required>
            
            </div>
            <br>
            <br>
            <div class="form-group">

                <label for="Quote"><b>Quote</b></label><br>
                <textarea  name="text"   class="form-control" id="quote" rows="4" [(ngModel)]="newQuote.quote" name="quote" #quote="ngModel" required></textarea>
                
            </div>
            <br>
            <br>
            <div class="form-group">
                <label for="Date"><b>Date</b></label><br>
                <input type='date' id="complete" name="completeDate" [(ngModel)]="newQuote.completeDate" #completeDate="ngModel" required>
                
            </div>
            <br>
            
            <button class="btn btn-primary" type="Submit">submit</button>
            <br>
            <br>
        </form>
    </div>
</div>


